
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grafik = new Chart(width: 900, height: 900);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Degerler");

    grafik.AddSeries(
        name: "Veriler",
        chartType:"Pie",
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar", "Küçük Ev Aletleri" },
        yValues: new[] { 500, 250, 652, 123 }
        );
    grafik.Write();
}